&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"&gt;

    &lt;uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /&gt;
    &lt;uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /&gt;
    &lt;uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /&gt;
    &lt;uses-permission android:name="android.permission.FOREGROUND_SERVICE" /&gt;
    &lt;uses-permission android:name="android.permission.VIBRATE" /&gt;

    &lt;application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:drawable/ic_menu_view"
        android:label="AI自动阅卷"
        android:roundIcon="@android:drawable/ic_menu_view"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"
        tools:targetApi="31"&gt;

        &lt;service
            android:name=".service.AutoClickService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"&gt;
            &lt;intent-filter&gt;
                &lt;action android:name="android.accessibilityservice.AccessibilityService" /&gt;
            &lt;/intent-filter&gt;
            &lt;meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" /&gt;
        &lt;/service&gt;

        &lt;service
            android:name=".service.FloatingViewService"
            android:enabled="true"
            android:exported="false" /&gt;

        &lt;activity
            android:name=".MainActivity"
            android:exported="true"&gt;
            &lt;intent-filter&gt;
                &lt;action android:name="android.intent.action.MAIN" /&gt;
                &lt;category android:name="android.intent.category.LAUNCHER" /&gt;
            &lt;/intent-filter&gt;
        &lt;/activity&gt;

        &lt;activity
            android:name=".ScreenCaptureActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /&gt;

    &lt;/application&gt;

&lt;/manifest&gt;
